@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

/* Styles for carousel */

.swiper {
  width: 80%;
  height: 90%;
  border-radius: 2%;
}

@media only screen and (max-width: 600px) {
  .swiper {
    width: 95%;
  }
}

.swiper-slide {
  text-align: center;
  background: rgb(58, 50, 186, 0.95);

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block; */
  /* width: 100%; */
  max-height: 28rem;
  /* object-fit: cover; */
  border-radius: 5%;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(0, 0, 0, 0.6);
}

.swiper-pagination-bullet-active {
  background-color: white;
}
